*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #040410, #06061A, #0A0926, #302EBB);
  background-size: 400% 400%;
  animation: gradient  6s linear infinite ;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% { 
		background-position: 100% 50%;
	}
	100% {
		background-position:  0% 50%;
	}
}

.player
{
  width: 300px;
  background: #fff;
/*   margin: 100px; */
  padding: 20px 14px 8px 14px;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 2px 90px -11px rgba(13,100,76,0.75);
  -webkit-box-shadow: 10px 2px 90px -11px rgba(13,100,76,0.75);
  -moz-box-shadow: 10px 2px 90px -11px rgba(13,100,76,0.75);
}

.imgBx img
{
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
}

.player audio
{
  width: 100%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  border: none;
}
.text{
    position: absolute;
    font-size: 7rem;
    color: white;
    left: 100px;
    align-content:center;
}
.next {
    display:block;
}